.container#content {
  margin-top: 4rem;
}
body {
  background-color: $light-gray;
}
a {
  color: #0056b3;
  &:hover {
    color: #007bff;
    text-decoration: none;
  }
}
body {
  font-family: $site-font;
}
h1, h2 {
  margin: 0px;
  text-align: center;
}
.title-margin {
  margin-top: 20px;
}
.navbar {
  background-color: white;
  // border-right: 1px solid rgba(0, 0, 0, 0.4);
  // border-left: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  line-height: 1;
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
  color: #0056b3;
  &:hover {
    color: #007bff;
  }
}
ul {
  list-style: none;
  padding: 0;
}

.btn-center {
  xdisplay: block;
  align-content: center;
  xposition: relative;
  xmargin-left: auto;
  xmargin-right: auto;
  xwidth: 50%;
}