.container#content {
  margin-top: 4rem;
}
body {
  width: 100%;
  height: 100%;
  background: url("../images/termBackDark.png") no-repeat center fixed;
  background-size: cover;
  background-position: top;
  font-family: $site-font;
}
.heading {
  color: white;
}
.border-color {
  border-color: black;
}

a {
  color: #0056b3;
  &:hover {
    color: #007bff;
    text-decoration: none;
  }
}

h1,
h2 {
  margin: 0px;
  text-align: center;
}
.title-margin {
  margin-top: 20px;
}
.post-date-course-margin {
  margin: 15px 0px;
}
.navbar {
  background-color: rgba($color: #000000, $alpha: .65);
  // border-right: 1px solid rgba(0, 0, 0, 0.4);
  // border-left: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  line-height: 1;
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
  color: #fff;
  &:hover {
    color: #007bff;
    font-size: 1.1rem;
  }
}
ul {
  list-style: none;
  padding: 0;
}

.btn-center {
  display: block;
  align-content: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
