@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

$site-font: 'Raleway', sans-serif;
// $site-font: 'Source Code Pro', monospace;

$light-gray: rgb(240, 240, 240);
$dark-gray: rgb(80, 80, 80);
$white: white;
