.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
  margin-bottom: 2%;
}
 
.iframe-container iframe {
   border: 0;
   width: 100%;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
}